body{
    color: rgb(158, 35, 35);
    background-color: rgb(50, 46, 243);
    font-family:  "Noto Serif JP"sans-serif;
    margin:0px;
head {
    border-bottom: solid 2px rgb(7, 107, 238);
    padding: 20px;
    font-size: 32px;
    color: rgb(4, 68, 153);
    background-color: rgb(6, 175, 96);
